.dialog-pane {
    -fx-background-color: #85B7CC;
    -fx-font-family: 'Noto Sans JP';
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}
}
.dialog-pane:header *.header-panel{
    -fx-background-color: #85B7CC;
}

.dialog-pane .button {
    -fx-background-color: #196C8F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dialog-pane .button:hover {
    -fx-background-color: #13547a;
}