
.button-with-style {
    -fx-effect: dropshadow(three-pass-box, grey, 5, 0, 0, 0);
    -fx-border-radius: 50%;
}
#event-box .event-title {
    -fx-font-family: 'Noto Sans JP';
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}


